<div class="parent-view-container">
    <header class="header">
        <h1>{{ 'students.tracking.title' | translate }}</h1>
        <p>{{ 'students.tracking.subtitle' | translate }}</p>
    </header>

    @if (store.loading()) {
        <div class="loader">
            <mat-spinner diameter="40"></mat-spinner>
        </div>
    }

    <div class="kids-grid">
        @for (kid of myKids(); track kid.id) {
            <div class="kid-card">
                <div class="card-main">
                    <div class="avatar">{{ kid.initials }}</div>
                    <div class="info">
                        <h2>{{ kid.fullName }}</h2>
                        <span class="code">{{ kid.code }}</span>
                        <span class="grade">{{ kid.grade }}</span>
                    </div>
                    <div class="status-pill" [ngClass]="kid.status === 'Activo' ? 'success' : 'warning'">
                        {{ kid.status === 'Activo' ? ('students.management.status.active' | translate) :
                        kid.status === 'Sin ruta' ? ('students.management.status.unassigned' | translate) :
                            ('students.management.status.inactive' | translate) }}
                    </div>
                </div>

                <div class="transport-info">
                    <div class="info-row">
                        <mat-icon>directions_bus</mat-icon>
                        <div>
                            <small>{{ 'students.tracking.route' | translate }}</small>
                            <p>{{ kid.routeAssigned || ('students.tracking.unassigned_route' | translate) }}</p>
                        </div>
                    </div>
                    <div class="info-row">
                        <mat-icon>location_on</mat-icon>
                        <div>
                            <small>{{ 'students.tracking.stop' | translate }}</small>
                            <p>{{ kid.stopName || ('students.tracking.unassigned_stop' | translate) }}</p>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <button mat-flat-button color="primary" [disabled]="!kid.routeAssigned">
                        <mat-icon>map</mat-icon> {{ 'students.tracking.track_btn' | translate }}
                    </button>

                    <button mat-stroked-button class="edit-btn" (click)="openEditDialog(kid)">
                        <mat-icon>edit</mat-icon> {{ 'students.tracking.edit_btn' | translate }}
                    </button>
                </div>
            </div>
        } @empty {
            @if (!store.loading()) {
                <div class="empty-state">
                    <mat-icon>child_care</mat-icon>
                    <p>{{ 'students.tracking.empty_msg' | translate }}</p>
                </div>
            }
        }
    </div>
</div>